.page {

	// .page__slider

	&__slider {}
}

.page-slider {

	// .page-slider__container

	&__container {
		padding-block: rem(40);
	}

	// .page-slider__title

	&__title {
		font-size: rem(20);
		font-weight: 700;
		text-align: center;

		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}
}

.slider {
	--clr-buttons: var(--clr-light);
	--clr-interaction: #5f75f1;

	position: relative;

	display: flex;
	justify-content: center;

	max-width: rem(700);
	padding: rem(20) rem(20) rem(60);
	border-radius: rem(30);
	margin: 0 auto;

	& .--end-of-slider:focus,
	& .--skip-slider-button:focus {
		white-space: revert;
		clip-path: revert;
		clip: revert;
		overflow: revert;

		display: grid;
		place-items: center;
		width: 50%;
		height: rem(20);
		border-radius: rem(10);

		background-color: var(--clr-light);
		color: var(--clr-dark);
	}

	& .--skip-slider-button:focus {
		top: rem(-15);
	}

	& .--end-of-slider:focus {
		bottom: rem(-15);
	}

	// .slider__wrapper

	&__wrapper {
		flex: 1;
		overflow: hidden;

		max-width: rem(500);
		border-radius: rem(20);
		margin: 0 auto;
	}

	// .slider__slidelist

	&__slidelist {
		user-select: none;
		display: flex;
		gap: rem(20);
	}

	// .slider__slide

	&__slide {
		--clr-slide: #fff;

		display: grid;
		place-items: center;

		flex: 0 0 100%;
		min-height: rem(250);

		padding: rem(20);
		border-radius: rem(20);
		background-color: var(--clr-slide);
		border: rem(2) solid transparent;

		font-size: rem(46);

		transition: all 0.3s;

		&:nth-child(1n) {
			--clr-slide: #b31212;
		}

		&:nth-child(2n) {
			--clr-slide: #a35c00;
		}

		&:nth-child(3n) {
			--clr-slide: #1e00a3;
		}

		&:nth-child(4n) {
			--clr-slide: #45ad00;
		}

		&:focus-within {
			border-color: var(--clr-interaction);
		}
	}

	// .slider__pagination

	&__pagination {
		position: absolute;
		bottom: rem(15);

		display: flex;
		align-items: center;
		justify-content: center;
		gap: rem(10);

		width: 100%;
		border-radius: rem(10);

		&>li {
			display: flex;
		}
	}

	// .slider__page

	&__page {
		height: rem(20);
		width: rem(35);
		border-radius: rem(10);

		background-color: var(--clr-buttons);
		outline: rem(2) solid transparent;
		outline-offset: rem(2);

		transition: all 0.3s;

		&[aria-current="true"] {
			background-color: var(--clr-interaction);
		}

		&:focus {
			outline-color: var(--clr-interaction);
		}

		@media (any-hover: hover) {
			&:hover {
				outline-color: var(--clr-interaction);
			}
		}
	}

	// .slider__slide-button

	&__slide-button {
		position: absolute;
		align-self: center;

		width: rem(60);
		height: rem(60);
		border-radius: rem(10);

		background-color: transparent;

		outline: rem(2) solid transparent;

		transition: all 0.3s;

		// .slider__slide-button_prev

		&_prev {
			left: rem(10);
		}

		// .slider__slide-button_next

		&_next {
			right: rem(10);
		}

		&>svg {
			fill: var(--clr-light);
			max-width: 100%;

			transition: all 0.3s;
		}

		&:focus {
			outline-color: var(--clr-interaction);

			&>svg {
				fill: var(--clr-interaction);
			}
		}

		@media (any-hover: hover) {
			&:hover>svg {
				fill: var(--clr-interaction);
			}
		}
	}
}